<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <!-- [entrada]-->
                <!-- (salida)-->
                <!-- [(entrada/salida)]-->

                <div class="card-body">
                    <h4 class="card-title">Striped Progress bar</h4>

                    <div class="progress m-t-20">
                        <div class="progress-bar bg-info progress-bar-striped active" style="height:7px;"
                            role="progressbar" [style.width]="porcen01">
                        </div>
                    </div>

                    <div class="progress m-t-20">
                        <div class="progress-bar bg-success progress-bar-striped active" style="height:7px;"
                            role="progressbar" [style.width]="porcen02">
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador 
                    [btnClass]="'btn btn-info'" 
                    (val)="_porcen01=$event" 
                    [_porcentaje]="_porcen01">
                </app-incrementador>
            </div>
        </div>
    </div>


    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador 
                    [btnClass]="'btn btn-success'" 
                    (val)="_porcen02=$event" 
                    [_porcentaje]="_porcen02">
                </app-incrementador>
            </div>
        </div>
    </div>



</div>