<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Perfil de usuario</h4>
                <h6 class="card-subtitle">Modificar tus datos de usuario</h6>
                <form class="form p-t-20" [formGroup]="perfilForm" (ngSubmit)="enviar()">

                    <!-- nombre -->
                    <div class="form-group" [ngClass]="{ 'has-danger': enviado && f['nombre'].errors }">
                        <label class="form-control-label">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" formControlName="nombre" class="form-control"
                                placeholder="Nombre y apellidos" trim="blur"
                                [ngClass]="{ 'form-control-danger': enviado && f['nombre'].errors }">
                        </div>
                        <div *ngIf="enviado && f['nombre'].errors" class="form-control-feedback">
                            <div *ngIf="f['nombre'].errors['required']">obligatorio</div>
                            <div *ngIf="f['nombre'].errors['minlength']">Debe contener un mínimo de 4 caracteres</div>
                            <div *ngIf="f['nombre'].errors['maxlength']">Nombre no puede exceder de 150 caracteres</div>
                        </div>
                    </div>

                    <!-- email -->
                    <div class="form-group" [ngClass]="{ 'has-danger': enviado && f['email'].errors }">
                        <label class="form-control-label">Email</label>
                        <input type="email" formControlName="email" class="form-control"
                            [ngClass]="{ 'form-control-danger': enviado && f['email'].errors }">
                       <div *ngIf="enviado && f['email'].errors" class="form-control-feedback">
                        <div *ngIf="f['email'].errors['required']">obligatorio</div>
                        <div *ngIf="f['email'].errors['eMailFormat']">No parece un eMail válido</div>
                       </div>
                    </div>



                    <hr class="mt2">
                    <h6 class="card-subtitle">Opcional, modificar contraseña de acceso</h6>

                    <!-- password -->
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" formControlName="password"
                            placeholder="Introduce la nueva contraseña"
                            [ngClass]="{ 'is-invalid': enviado && f['password'].errors }">
                    </div>


                    <!-- password2 -->
                    <div class="mb-3">
                        <div class="form-group" [ngClass]="{ 'has-danger': enviado && f['password2'].errors }">
                            <label class="form-control-label">password2</label>
                            <input type="password" formControlName="password2" class="form-control"
                                [ngClass]="{ 'form-control-danger': enviado && f['password2'].errors }">
                            <div *ngIf="enviado && f['password2'].errors" class="form-control-feedback">
                                <div *ngIf="f['password2'].errors['required']">password obligatorio</div>
                                <div *ngIf="f['password2'].errors['matching']">Los passwords no coinciden</div>
                            </div>
                        </div>
                    </div>




                    <button type="submit" class="btn waves-effect waves-light btn-rounded btn-success">Enviar</button>

                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Avatar</h4>
                <h6 class="card-subtitle">Imagen de usuario</h6>
                <div class="text-center shadow">
                    <img [src]="getUserFoto()" class="img-thumbnail img-avatar">
                </div>
                <br>
                <input type="file" (change)="subirFoto($event )">
                <br>
                <br>
            </div>
        </div>
    </div>

</div>