<div *ngIf="!usuarios.length" class="card">
  <div class="card-body">
    <h3>Cargando datos...</h3>
  </div>
</div>

<div class="row">

  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- <h4 class="card-title">Filter Option</h4>
        <h5 class="card-subtitle mt-6">Cabeceras tunning ngx-Datatable</h5> -->

        <ngx-datatable class='material' [columns]="columns" [columnMode]="'force'" [headerHeight]="70"
          [footerHeight]="50" [rowHeight]="40" [limit]="20" [rows]='rows' [messages]="messages">


          <!-- nombre -->
          <ngx-datatable-column name="nombre">
            <ng-template ngx-datatable-header-template let-sort="sortFn" let-column="column">
              <input type="search" class="form-control form-control-sm" placeholder="Buscar..."
                (keyup)="buscar($event, 'nombre')"><br>
              <div class="header" (click)="sort()">
                <h6 class="title link">Nombre</h6>
              </div>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
          </ngx-datatable-column>


          <!-- email -->
          <ngx-datatable-column name="email">
            <ng-template ngx-datatable-header-template let-sort="sortFn" let-column="column">
              <input type="search" class="form-control form-control-sm" placeholder="Buscar..."
                (keyup)="buscar($event, 'email')"><br>
              <div class="header" (click)="sort()">
                <h6 class="title link">e-Mail</h6>
              </div>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
          </ngx-datatable-column>


          <!-- telefono -->
          <ngx-datatable-column name="telefono" [width]="10">
            <ng-template ngx-datatable-header-template let-sort="sortFn" let-column="column">
              <input type="search" class="form-control form-control-sm" placeholder="Buscar..."
                (keyup)="buscar($event, 'telefono')"><br>
              <div class="header" (click)="sort()">
                <h6 class="title link">Teléfono</h6>
              </div>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
          </ngx-datatable-column>

          <!-- foto -->
          <!-- <ngx-datatable-column name="foto">
            <ng-template ngx-datatable-cell-template let-value="value">
              <div *ngIf="value">
                <img [src]="fotoDir +'/'+ value" alt="Foto" class="rounded" height="25px">
              </div>
            </ng-template>
          </ngx-datatable-column> -->



          <!-- rol -->
          <ngx-datatable-column name="rol" [width]="1">
            <ng-template ngx-datatable-header-template let-sort="sortFn" let-column="column">
              <select class="form-control form-control-sm" (change)="buscaRol($event.target )">
                <option value="">Todos</option>
                <option *ngFor="let rol of roles" [value]="rol.valor">{{ rol.texto }}</option>
              </select><br>
              <div class="header" (click)="sort()">
                <h6 class="title link">rol</h6>
              </div>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
          </ngx-datatable-column>



          <!-- editar / borrar-->
          <ngx-datatable-column [width]="50" [sortable]="false" [draggable]="false" [resizeable]="false">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <a href="javascript: void(0);" (click)="editRow(row)" class="link mr-2" placement="top"
                data-toggle="tooltip" title="Editar">
                <i class='fas fa-edit fa-lg'></i>
              </a>
              <a (click)="editRow(row)" class="link mr-2 tomato" placement="top" data-toggle="tooltip" title="Borrar">
                <i class='fas fa-trash fa-lg'></i>
              </a>
            </ng-template>
          </ngx-datatable-column>


        </ngx-datatable>

      </div>
    </div>
  </div>

</div>